<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8"/>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,300'>
	{% load static %}
    <link rel="stylesheet" href="{% static 'legal/frontpage/style.css' %}">
</head>

<body>
<div class="upload">
    <header>
        <p>
            <i class="fa fa-cloud-upload" aria-hidden="true" style="width:25px;height:25px"></i>
            <span class="up" style="font-size:50px">Case  </span>
            <span class="load" style="font-size:50px"> Studies </span>
        </p>
    </header>
    <form action="{% url 'resp' %}" method="POST" enctype="multipart/form-data">
        <div class="body" id="drop">
            <!--<i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
            <p class="pointer-none"> <b> <a href="" id="triggerFile"> Upload File </a> </b></p> <br>-->
            <p class="pointer-none"> <b> <a href="{% url 'readme' %}" >   What do we do? </a> </b> </p> <br>
            <input type="file" multiple="multiple" name="myfile"/>
        </div>
        <footer>
            <div class="divider">
                <span> <AR> Case Record </AR></span>
            </div>
            <div class=list-files">

            </div>
                <button class="importar" type="submit">STUDY</button>
        </footer>
    </form>
</div>



</body>

</html>
